.tag {
    margin-right: 5px;
    font-size: 1em;
    padding: 5px 7px;
    text-transform: capitalize;
}

@media screen and (max-width: 768px) {
    .tag {
        font-size: 0.75em;
        padding: 3px;
    }
}

@media screen and (max-width: 518px) {
    .tag {
        font-size: 0.5em;
        padding: 3px;
    }
}